{% extends "base.html" %}

{% block content %}
<h1 class="cursive">- Login -</h1>
<br />

<div class="alert alert-info">
    <form method="post" action="{% url login %}">
        {% csrf_token %}
        <table>
            {{ form.username.errors }}
            <label>{{ form.username.label_tag }}</label>
            <div>{{ form.username }}</div>
            
            {{ form.password.errors }}
            <label>{{ form.password.label_tag }}</label>
            <div>{{ form.password }}</div>
        </table>

        <a class="btn btn-info btn-large" href="{% url register %}">Register</a>
        <input class="btn btn-success btn-large" type="submit" value="Login">
        
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</div>
{% endblock %}
