{% extends "base.html" %}
{% load humanize %}
{% load usertags %}

{% block content %}
<div class="span7 pull-right user-profile">
    <h1>{{ target_user.get_full_name }}</h1>
    <h2 class="username">({% if target_user.is_staff %}<abbr class="staffuser" title="This user is a staff member.">*</abbr>{% endif %}{{ target_user.username }})</h2>
    <table class="table">
        <caption>about</caption>
        <tr><td>email</td><td><a href="mailto:{{ target_user.email }}">{{ target_user.email }}</a></td></tr>
        <tr><td>joined</td><td><abbr class="timestamp" title="{{ target_user.date_joined.isoformat }}">{{ target_user.date_joined }}</abbr> </td></tr>
    </table>
</div>
<ul class="thumbnails">
    <div class="span2">
        <a href="{% url user_profile target_user.pk target_user.username %}" class="thumbnail">
            <img src="{% avatar target_user size=128 %}">
        </a>
        <div class="profile-data"><span class="badge badge-warning">{{ target_user.get_profile.get_monthly_score }}</span> points</div>
        <div class="profile-data"><span class="badge badge-warning">{{ target_user.get_profile.get_monthly_rank|ordinal }}</span> rank</div>
        <div class="profile-data"><abbr title="Scores and ranks on Quizzardous! are calculated on a monthly basis.">(this month)</abbr></div>
    </div>
</ul>
{% endblock %}
