{% extends "templates/base-fragment.html" %}
{% block content %}
<div class="container">
	<div class="hero-unit">
		<h1>About us</h1>
		<br />
		<p>
			<span class="brand">Quizzardous!</span> is the result of the combined efforts of our team, which consists of
			{{ "aviraldg"|user_link }}, the lead developer, designer and manager, and the content team, which consists of: {{ "aditya"|user_link }}, {{ "fahad"|user_link }},
			{{ "omkar"|user_link }}, {{ "aditthya"|user_link }} &amp; {{ "syed"|user_link }} in addition to our <a href="/users"><em>super-helpful community</em></a>.
		</p>
		<p>
			It was started <abbr class="timeago" title="2012-01-01T00:00:00">2012-01-01T00:00:00</abbr>, when {{ "aviraldg"|user_link }}, a member of a group
			called "Quizzardo" on Facebook* realised that a website that let people satiate their quizzing desires,
			and at the same time awarded them for it, would simply be <em>awesome</em>.
		</p>
		<p>
			... and so, <span class="brand">Quizzardous!</span> was born, a combination of "Quizzardo", and "us".
		</p>
		<small>*which was founded by {{ "aditthya"|user_link }} &amp; {{ "syed"|user_link }}</small>
		<div class="pull-right">
			<a class="btn primary" href="#">Quizzardous! rocks!</a>
			<a class="btn danger" href="http://quizzardous.uservoice.com/">Nah, it isn't <em>that</em> awesome.</a>
		</div>
	</div>
	<div class="hero-unit">
		<h1>Open Source Software</h1>
		<br />
		<p>
			A <em>ton</em> of Open Source Software was used in building <span class="brand">Quizzardous!</span>, which is the secret sauce behind why we <em>rock so much</em>:
		</p>
		<table class="bordered-table zebra-striped">
			<tr>
				<td>Project Name</td><td>License</td><td>Usage</td>
			</tr>
			<tr>
				<td><a href="#">jQuery</a></td><td>MIT</td><td>jQuery powers all our JavaScript based UI functionality.</td>
			</tr>
			<tr>
				<td><a href="#">Jinja2</a></td><td>MIT</td><td>Jinja is the awesome templating engine based on Django that we use to render pages.</td>
			</tr>
			<tr>
				<td><a href="#">Twitter Blueprint</a></td><td>MIT</td><td>Twitter Blueprint was the UI Framework used to prototype and design our UI.</td>
			</tr>
			<tr>
				<td><a href="#">HTML5Shim</a></td><td>MIT</td><td>Used to add HTML5 element support to older, incompatible browsers.</td>
			</tr>
		</table>
	</div>
	<div class="hero-unit">
		<h1>Services</h1>
		<br />
		<p>
			<span class="brand">Quizzardous!</span> also utilizes a number of web services:
		</p>
		<table class="bordered-table zebra-striped">
			<tr>
				<td>Service Name</td><td>Usage</td>
			</tr>
			<tr>
				<td><a href="#">Google AppEngine</a></td><td>The PaaS platform that powers our webapp.</td>
			</tr>
			<tr>
				<td><a href="#">Google Webfonts</a></td><td>Allows us to use the awesome fonts that we do (without worrying about compatiblity.)</td>
			</tr>
			<tr>
				<td><a href="#">Gravatar</a></td><td>Global user avatars</td>
			</tr>
			<tr>
				<td><a href="#">Imgur</a></td><td>Image upload service</td>
			</tr>
		</table>
	</div>
</div>
{% endblock content %}
