{% load static from staticfiles %}
<!doctype html>
<html lang="en-GB">
	<head>
		<title>{% block title %}Quizzardous!{% endblock %}</title>
		<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
		<link rel="stylesheet" href="{% static "css/site.css" %}">
		<link rel="shortcut icon" href="{% static "favicon.ico" %}">
		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static "iconic/iconic_fill.css" %}">
		{% block extrahead %}{% endblock %}
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a href="{% url homepage %}" class="brand">Quizzardous!</a>
					<ul class="nav">
						{% include "nav_site_fragment.html" %}
					</ul>
					<ul class="nav pull-right">
						{% include "nav_control_fragment.html" %}
					</ul>
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class="row">
				<div class="ad span3 pull-right">
					{% include "ad_fragment.html" %}
				</div>
				{% block content_top %}
				{% endblock %}
				<div class="content span9">
					{% block content %}
					{% endblock %}
				</div>
				{% block post_content %}
				{% endblock %}
			</div>
		</div>

		<footer class="footer">
			<div class="container">
			<p class="pull-right"><a href="#">blog</a> &middot; <a href="#">about us</a> &middot; <strong><a href="#">t&amp;c</a></strong> &middot; <strong><a href="#">feedback</a></strong></p>
			<p>made with love, care and tons of <a href="#">open source software</a></p>
			</div>
		</footer>

		{# Courtesy h5bp #}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{% static "js/jquery-1.7.2.min.js" %}"><\/script>')</script>
		<script src="{% static "js/jquery.timeago.min.js" %}"></script>
		<script src="{% static "js/bootstrap.min.js" %}"></script>
		<script src="{% static "js/site.js" %}"></script>
	</body>
</html>
