<footer class="footer">
	<div class="container">
		<div class="pull-right">
			<p>
				<a href="http://blog.quizzardous.com">blog</a> &middot;
				<a href="/about">about us</a> &middot;
				<a href="/terms"><b>t&amp;c</b></a> &middot;
				<a href="/contact"><b>contact</b></a> &middot;
				<a href="http://quizzardous.uservoice.com/"><b>suggestions</b></a>
			</p>
			<p class="pull-right" style="color: gray;">
				(r{{ current_version_id }} on {{ server_software }})
			</p>
		</div>
		<p>made with love, care and tons of <a href="/about#oss">open source software</a>.</p>
		<p>design &amp; code &copy; 2012-2013 {{ "aviraldg"|user_link }}</p>
	</div>
</footer>