{% extends "base-fragment.html" %}
{% block content %}
<div class="hero-unit">
	<h1>What is Quizzardous?</h1>
	<br />
	<p>
		<span class="brand">Quizzardous!</span> is an innovative new website that lets you ask and answer general knowledge questions (for fun!)
		awards the efforts of its' members at the end of each month through a contest. Our automatic answer correction system and ranking system
		make online quizzing more competitive and fun than it has ever been before!
	</p>
	<div class="pull-right">
		<a href="/login" class="btn success">
			Login with Google.
		</a>
		<a class="btn">
			Browse.
		</a>
	</div>
</div>
<div class="row show-grid">
	<div class="span-one-third">
		<h3>Jump right in!</h3>
		<p>
			You don't need to create any messy accounts for participating in Quizzardous! - instead, you can just <a href="/login">login with your Google account.</a>
			If you're still not convinced, you could always <a href="/browse">read our archive of questions without logging in.</a>
		</p>
	</div>
	<div class="span-one-third">
		<h3>Win fabulous prizes (every month)</h3>
		<p>
			Even if quizzing doesn't appeal to your brain, we're sure our cool prizes will. We give away lots of prizes, ranging from phones to headphones and right back.
			How about <a href="/contest">having a look at this month's contest?</a>
		</p>
		<a class="btn primary pull-right" href="#">Read more »</a>
	</div>
	<div class="span-one-third">
		<h3>Challenge your friends.</h3>
		<p>
			Our unique challenge system finally lets you resolve those "who's better at quizzing" fights. Now, challenge your friends and show 'em who's the master of quizzing! (and get free points for winning the challenge)
		</p>
		<a class="btn primary pull-right" href="#">Invite your friends »</a>
	</div>
</div>
{% endblock content %}
