<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>Quizzardous!</title>
		<meta name="author" content="Aviral Dasgupta" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0" />
		<!--[if lt IE 9]>
      	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    	<![endif]-->
		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
		<link href="/static/bootstrap.min.css" rel="stylesheet">
		<link href="/static/style.css" rel="stylesheet">
	</head>
	<body>
		<div class="topbar">
			<div class="topbar-inner">
				<div class="container">
					<a href="/" class="brand">Quizzardous!</a>
					<ul class="nav">
						<li class="active">
							<a href="/">Home</a>
						</li>
						<li>
							<a href="/">Competition</a>
						</li>
						<li>
							<a href="/rankings">Rankings</a>
						</li>
						<li>
							<form  action="">
            					<input type="text" placeholder="Search">
          					</form>
						</li>
					</ul>
					
					<ul class="nav secondary-nav">
						<li>
							<a href="#" class="dropdown-toggle">0</a>
						</li>
						<li>
							{{ user|user_link }}
						</li>
						<li>
							<a href="#">Settings</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			{#
			<div class="hero-unit">
				<h1>Cool stuff, just for you!</h1>
				<br />
				<p>
					<span class="brand">Quizzardous!</span> is an attempt to make quizzing fun
					and easily accessible to everyone. So, we'll be giving away some
					cool prizes to the top 3 rankers of this month!*
				</p>
				<p class="pull-right">
					<a href="#" class="btn primary large">Learn more »</a>
					<a href="#" class="btn large">Hide</a>
				</p>
				<small>*<a href="#">t&amp;c</a> apply; only applicable for users in India</small>
			</div>
			#}
			
			<form method="post" action="/questions/post">
				<legend><h2>Ask Question.</h2></legend>
				<br />
				<fieldset>
					<div class="well">
						<div class="clearfix">
							<label for="question">Question</label>
							<div class="input">
								<textarea class="xxlarge" id="question" name="question"></textarea>
								<span class="help-block">
									Enter a question to which the answer is a person, place, thing, verb or anything that can be found on Wikipedia.
								</span>
							</div>
						</div>
						<div class="clearfix">
							<label for="question">Answer</label>
							<div class="input">
								<input class="xlarge" type="text" id="answer" name="answer"></textarea>
								<span class="help-block">
									Type in the answer to the question and select a suggested entry.
								</span>
							</div>
						</div>
						<div class="clearfix">
							<label for="question">Category</label>
							<div class="input">
								<input class="xlarge" type="text" id="category" name="category"></textarea>
							</div>
						</div>
						<div class="actions">
							<button class="btn primary">Ask</button>
							<a href="/questions" onclick="history.back(); return false;" class="btn">Cancel</a>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		
		{% include "footer-fragment.html" %}
	</body>
</html>