{% extends "base.html" %}

{# This is clearly incomplete; TODO finish this later, when
login views are completed and overall design is finalised #}

{% block nav_right %}
{% if user %}
<li><a href="#">{{ user.username }}</a></li>
{% else %}
<li><a href="#">Login</a></li>
{% endif %}
{% endblock %}

{% block ad %}
{# TODO: remove this placeholder image after getting adsense set up #}
<img src="http://www.placehold.it/200x200" style="display: block; margin: auto;">
{% endblock %}

{% block content %}
{% for question in questions %}
<article>
{{ question.question }}
</article>
{% endfor %}
{% endblock %}
