{% extends "base.html" %}

{# This is clearly incomplete; TODO finish this later, when
login views are completed and overall design is finalised #}

{% block nav_left %}
<li><a href="{% url questions %}">Questions</a></li>
{% endblock %}

{% block content_top %}
<div class="toolbar span9">
    <div class="toolbar-inner">
        <input type="button" class="btn btn-primary" value="Ask Question">
    </div>
</div>
<div class="post-question span9">
</div>
{% endblock %}

{% block content %}
{% for question in questions %}
{% include "question_fragment.html" %}
{% endfor %}
{% endblock %}
