<div class="well question" id="{{ question.key() }}">
	<div class="row">
		<div class="span2">
			<ul class="media-grid profile">
		<li>
			<a href="{{ question.author|user_uri }}">
				<img class="thumbnail" width="90px" height="90px" src="{{ question.author.email()|user_avatar_uri }}?s=90&d=mm" alt="">
			</a>
				</li>
			</ul>
			<div class="span2" style="text-align: center;">
				{{ question.author|user_link }}
			</div>
		</div>
		<div class="span13">
			<p>{{ question.question }}</p>
			{#<p><span class="tags-label">Answer type:</span> {{ question.answer_type|question_type }}</p>#}
		</div>
	</div>
	<div class="actions">	
		<p class="pull-right">
			<button class="btn report" data-backdrop="true" data-controls-modal="{{ question.key() }}_report">Report</button>
			{% if question.author == user %}
			<button class="btn danger delete" data-backdrop="true" data-controls-modal="{{ question.key() }}_delete">Delete</button>
			{% endif %}
			<button class="btn primary discuss" data-question="{{ question.key() }}">Discuss</button>
			<button class="btn success answer" data-question="{{ question.key() }}">Answer</button>
		</p>
		<p>
			Posted {{ question.when|timestamp }}.
			<br />
			<span class="tags-label">Category:</span> <span class="label">{{ question.category }}</span>
		</p>
	</div>
	<div id="{{ question.key() }}_report" class="modal hide fade">
		<div class="modal-header">
			<a href="#" class="close">×</a>
			<h3>Double-check.</h3>
		</div>
		<div class="modal-body">
			<p>Are you sure you want to <strong style="color: #ff8800;">report</strong> this question? <em>We'll deploy a team of highly trained monkeys to blast this question into smithereens (if it's found to go against our content guidelines)</em></p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn success" onclick="$('#{{ question.key() }}_report').modal('hide');">No, it's fine as it is.</a>
			<a href="/questions/{{ question.key() }}/report" class="btn danger">Yes, report it.</a>
		</div>
	</div>
	<div id="{{ question.key() }}_delete" class="modal hide fade">
		<div class="modal-header">
			<a href="#" class="close">×</a>
			<h3>Double-check.</h3>
		</div>
		<div class="modal-body">
			<p>Are you sure you want to <strong style="color: #cc0000;">delete</strong> this question? <strong>Questions, once deleted, cannot be recovered!</strong></p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn success" onclick="$('#{{ question.key() }}_delete').modal('hide');">No, it's fine as it is.</a>
			<a href="/questions/{{ question.key() }}/delete" class="btn danger">Yes, delete it.</a>
		</div>
	</div>
</div>