{% extends "base.html" %}
{% load usertags %}

{# This is clearly incomplete; TODO finish this later, when
login views are completed and overall design is finalised #}

{% block nav_left %}
<li><a href="{% url questions %}">Questions</a></li>
{% endblock %}

{% block nav_right %}
{% if user %}
<li><a href="#">{{ user.username }}</a></li>
{% else %}
<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Login</a>
    <ul class="dropdown-menu">
        <li><a href="#">Login with Google</a></li>
        <li><a href="#">Login with Facebook</a></li>
        <li><a href="#">Login with Twitter</a></li>
    </ul>
</li>
{% endif %}
{% endblock %}

{% block ad %}
{# TODO: remove this placeholder image after getting adsense set up #}
<img src="http://www.placehold.it/200x200" style="display: block; margin: auto;">
{% endblock %}

{% block content %}
<div class="span7 pull-right user-profile">
    <h1>{{ target_user.get_full_name }}</h1>
    <h2 class="username">({{ target_user.username }})</h2>
    <table class="table">
        <caption>about</caption>
        <tr><td>email</td><td><a href="mailto:{{ target_user.email }}">{{ target_user.email }}</a></td></tr>
        <tr><td>age</td><td><a href="mailto:{{ target_user.email }}">{{ target_user.age }}</a></td></tr>
        <tr><td>joined</td><td><abbr class="timestamp" title="{{ target_user.date_joined.isoformat }}">{{ target_user.date_joined }}</abbr> </td></tr>
    </table>
    <h2>Recent Activity</h2>
</div>
<ul class="thumbnails">
    <div class="span2">
        <a href="{% url user_profile target_user.pk target_user.username %}" class="thumbnail">
            <img src="{% avatar target_user size=128 %}">
        </a>
        <div class="profile-data"><span class="badge badge-warning">300</span> points</div>
        <div class="profile-data"><span class="badge badge-warning">1<sup>st</sup></span> rank</div>
    </div>
</ul>
{% endblock %}
