{% load usertags %}

{% if question.reporters.exists %}
<article class="question-container reported">
{% else %}
<article class="question-container">
{% endif %}
    <div class="span8 pull-right">
        <div class="question">
            {# TODO: Verify if this is safe against custom tailored requests #}
            {{ question.question|safe }}
        </div>
        <div class="question-meta">
            <a href="{{ question.get_absolute_url }}" class="iconic link" title="Permanent link to this question."></a>
            <span class="badge">{{ question.category }}</span>
            (asked <abbr class="timestamp" title="{{ question.when.isoformat }}">{{ question.when }}</abbr> by <a href="{% url user_profile question.author.pk question.author.username %}">{{ question.author.username }}</a>)
            <div class="pull-right">
                {% if not question.author == user %}
                <form class="form-inline" style="display: inline;" method="post" action="{% url report_question question.pk question.slug %}">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-small btn-primary" value="Report {% if user.is_staff %}({{ question.reporters.count }}){% endif %}"></input>
                </form>
                {% endif %}

                {% if question.author == user or user.is_staff %}
                <form class="form-inline" style="display: inline;" method="post" action="{% url delete_question question.pk question.slug %}">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-small btn-danger" value="Delete"></input>
                </form>
                {% endif %}
                {% if not hide_answer_link and user != question.author %}
                <a href="{% url question question.pk question.slug %}" class="btn btn-small btn-success">Answer</a>
                {% endif %}
            </div>
        </div>
    </div>
    <ul class="thumbnails">
        <li class="span1">
            <a class="thumbnail" href="{% url user_profile question.author.pk question.author.username %}"><img src="{% avatar question.author size=54 %}"></a>
        </li>
    </ul>
</article>
