{% extends "base.html" %}

{% block content %}
<h1 class="cursive">- Pending Reviews -</h1>

<br />

{% for question in questions_list %}
{% include "questions/question_fragment.html" %}
{% for answer in question.answers.all %}
<article class="question-container">
    <div class="span8 pull-right">
        <div class="question">
        {{ answer.answer }}
        </div>
    </div>
    <div class="question-meta pull-right">
        <form action="{% url reviews %}" method="POST">
            {% csrf_token %}
            <input type="hidden" readonly="true" name="answer-pk" value="{{ answer.pk }}">
            <input type="submit" class="btn btn-small btn-danger" name="mark-incorrect" value="Mark Incorrect">
            <input type="submit" class="btn btn-small btn-success" name="mark-correct" value="Mark Correct">
        </form>
    </div>
</article>
{% endfor %}
{% endfor %}
{% endblock %}
