/* mixins */
/* general styling */
body {
  padding-top: 56px;
  background: url(../img/background.png); }

.navbar .brand, .brand {
  font-family: 'Pacifico', script;
  font-weight: normal; }

a.brand {
  transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease; }

footer.footer {
  padding: 8px;
  margin-top: 16px;
  border-top: 1px solid #e5e5e5; }

div.toolbar {
  background-image: linear-gradient(top, #555555, #333333);
  background-image: -webkit-linear-gradient(top, #555555, #333333);
  background-image: -moz-linear-gradient(top, #555555, #333333);
  background-image: -o-linear-gradient(top, #555555, #333333);
  background-image: -ms-linear-gradient(top, #555555, #333333);
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -ms-border-radius: 4px 4px 4px 4px; }

div.toolbar-inner {
  margin: 4px; }

div.content {
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -ms-border-radius: 4px 4px 4px 4px;
  padding: 0px 0px 40px 0px;
  background: #fafafa; }

.ad {
  background: white;
  padding: 10px 0px 40px 0px;
  box-shadow: 0px 0px 4px #999;
  transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -ms-transition: all 1s ease; }

.ad:hover {
  transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  -webkit-transform: rotate(-1deg); }

article {
  display: block;
  padding: 8px 0px 0px 0px; }

.user-profile h1, .user-profile h2 {
  display: inline; }
.user-profile h2.username {
  color: gray; }
.user-profile caption {
  text-align: left;
  font-weight: bold;
  color: gray; }

.profile-data {
  font-weight: bold;
  color: gray;
  text-align: center;
  margin-top: 6px; }

.question {
  background: #eee;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  border: 1px solid #DDDDDD;
  padding: 16px;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -ms-border-radius: 4px 4px 4px 4px; }
