/* mixins */
@mixin border-radius($r1, $r2, $r3, $r4) {
	border-radius: $r1 $r2 $r3 $r4;
	-moz-border-radius: $r1 $r2 $r3 $r4;
	-o-border-radius: $r1 $r2 $r3 $r4;
	-webkit-border-radius: $r1 $r2 $r3 $r4;
	-ms-border-radius: $r1 $r2 $r3 $r4;
}

@mixin transition($property, $time, $function) {
	transition: $property $time $function;
	-moz-transition: $property $time $function;
	-o-transition: $property $time $function;
	-webkit-transition: $property $time $function;
	-ms-transition: $property $time $function;
}

@mixin transform($functions) {
	transform: $functions;
	-moz-transform: $functions;
	-ms-transform: $functions;
	-o-transform: $functions;
	-webkit-transform: $functions;
}

@mixin linear-gradient($position, $c1, $c2) {
	background-image: linear-gradient($position, $c1, $c2);
	background-image: -webkit-linear-gradient($position, $c1, $c2);
	background-image: -moz-linear-gradient($position, $c1, $c2);
	background-image: -o-linear-gradient($position, $c1, $c2);
	background-image: -ms-linear-gradient($position, $c1, $c2);
}

/* general styling */

body {
	padding-top: 56px;
	background: url(../img/background.png);
}

.navbar .brand, .brand, .cursive {
	font-family: 'Pacifico', script;
	font-weight: normal;
}

a.brand {
	@include transition(color, 0.2s, ease);
}

footer.footer {
	padding: 8px;
	margin-top: 16px;
	border-top: 1px solid rgb(229, 229, 229);
}

div.toolbar {
	@include linear-gradient(top, #555, #333);
	@include border-radius(4px, 4px, 4px, 4px);
}

div.toolbar-inner {
	margin: 4px;
}

.ad {
	background: white;
	padding: 10px 0px 40px 0px;
	box-shadow: 0px 0px 4px #999;
}

article {
	display: block;
	padding: 8px 0px 0px 0px;
}

.user-profile {
	h1, h2 {
		display: inline;
	}

	h2.username {
		color: gray;
	}

	caption {
		text-align: left;
		font-weight: bold;
		color: gray;
	}
}

.profile-data {
	font-weight: bold;
	color: gray;
	text-align: center;
	margin-top: 6px;
}

.question {
	background: #eee;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	border: 1px solid #DDDDDD;
	padding: 16px;
	@include border-radius(4px, 4px, 4px, 4px);
}

.staffuser {
	color: #9d261d !important;
}

.question-meta {
	padding-top: 8px;
}

.statistics {
	margin-top: 16px;
}

.question-container.reported {
	opacity: 0.5;
}

.cke_editor_id_question {
	width: 100% !important;
}

#id_answer {
	width: 100% !important;
}
