# Remove this warning after setting up this file
from django.utils.log import logging
logging.warn('secrets aren\'t configured properly, please edit secrets.py')

# Facebook

FACEBOOK_APP_ID = ''
FACEBOOK_SECRET_KEY = ''

# Twitter

TWITTER_CONSUMER_KEY = ''
TWITTER_CONSUMER_SECRET_KEY = ''
